@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@100;300;400;700;900&family=PT+Sans+Narrow:wght@400;700&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Fonts details 
Main Title: Dancing script
Sub Heading 1: PT Sans Narrow, Sans Serif
Sub Heading 2: Lato, Sans Serif */
:root{
    --clr-black:#000000;
    --clr-red:#ca3d26;
    --clr-white:#fff;
    --clr-grey:#dddddd;
    --ft-family-lato:'Lato', sans-serif;
    --ft-family-ptSans:'PT Sans Narrow', sans-serif;
    --ft-family-dScript:'Dancing Script', cursive;
    --body-padding:0 2em;
    --section-width:100%;
    --wrapper-width:75%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}


/* zig zag borders */
.zigZag{
    /* width: 100%; */
    z-index: 10;
    background-color:white;
    position:relative;
  }
  
  .zigZag::before{
    content:" ";
    position:absolute;
    top:-10px;
    width:100%;
    height:15px;
    display:block;
    background:linear-gradient(-45deg, transparent 33.33%, white 33.33%, white 66.66%, transparent 66.66%),linear-gradient(45deg, transparent 33.33%,white 33.33%, white 66.66%, transparent 66.66%);
    background-size:15px 35px;
    transform:rotate(360deg);
  }
  .zigZag::after{
    content:" ";
    position:absolute;
    bottom:-10px;
    width:100%;
    height:15px;
    display:block;
    background:linear-gradient(-45deg, transparent 33.33%, white 33.33%,white 66.66%, transparent 66.66%),linear-gradient(45deg, transparent 0%, white 33.33%,white 66.66%, transparent 66.66%);
    background-size:15px 35px;
    transform:rotate(180deg);
  }
  .headerzigZag{
    /* width: 100%; */
    z-index: 20;
    background-color:white;
    position:relative;
  }
  .headerzigZag::after{
    content:" ";
    position:absolute;
    bottom:-10px;
    width:100%;
    height:15px;
    display:block;
    background:linear-gradient(-45deg, transparent 33.33%, white 33.33%,white 66.66%, transparent 66.66%),linear-gradient(45deg, transparent 0%, white 33.33%,white 66.66%, transparent 66.66%);
    background-size:15px 35px;
    transform:rotate(180deg);
  }



.backgroundImageOverlay{
    width:100%;
    height:100%;
    background:black;
    opacity:.7;
    position:absolute;
}


body { 
    min-height: 100vh;
}



/* header styling */
header{
    width: var(--section-width);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    font-family: var(--ft-family-lato);
    position: absolute;
    z-index: 1000;
}

.headerSection1{                                /* header Section 1 */
    width: 75%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.headerSection1 .contact_section{
    width: 45%;
    display: flex;
    /* border: 1px solid yellow; */
}
.headerSection1 .contact_section .contacts{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
.headerSection1 .contact_section .contacts i{
    font-size: .75rem;
    margin-right: .6em;
}
.headerSection1 .contact_section .contacts p{
    font-size: .8rem;
    margin: 0;
}
.headerSection1 .socialMediaTableBookingBtn{
    width: 50%;
    text-align: right;
    /* border: 1px solid yellow; */
}
.headerSection1 .socialMediaTableBookingBtn a{
    font-size: .75rem;
    color: var(--clr-white);
    margin-right: 1.3em;
}
.headerSection1 .socialMediaTableBookingBtn button{
    background-color: var(--clr-red);
    color: var(--clr-white);
    border: 0;
    text-transform:uppercase;
    font-size: .7rem;
    font-weight: 600;
    word-spacing: 2px;
    padding: 0.7em 3.2em .9em;
}
header hr{
    width: 100%;
    background-color: var(--clr-white);
    margin: 0 0 1em;
    z-index: 3;
    opacity: .6;
}
.headerSection2{                                /* header Section 2 */
    width: 75%;
   display: flex;
   justify-content: space-between;
   z-index: 10000;
}
.headerSection2 .nav_logo{
    width:22%;
    /* border: 1px solid yellow; */
}
.headerSection2 .nav_logo a img{
    width: 70%;
}
.headerSection2 nav{
    align-self: flex-end;
    width:70%;
    /* border: 1px solid yellow; */
}
.headerSection2 nav .nav_list{
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}
.headerSection2 nav .nav_list .nav_item .nav_link{
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: .78rem;
    font-weight: 600;
}
.headerSection2 nav .nav_list .nav_item .nav_link:hover{
    color: var(--clr-red);
    border-top: 2px solid var(--clr-red);
    padding-top: 2.9em;
    text-decoration: none;
}
.headerSection2 nav .nav_list .nav_item i{
    font-size: .75rem;
}



/* home Section styling -------------------------------------------------------------*/
.homeSection{
    z-index: -5;
}
.homeSection .carousel .carousel-inner .carousel-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeSection .carousel .carousel-inner .carousel-item .contentfix{
    width: 75%;
    /* border: 1px solid yellow; */
    position: absolute;
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeSection .carousel .carousel-inner .carousel-item .contentfix h1:nth-child(1){
    font-family: var(--ft-family-dScript);
    font-size: 6rem;
}
.homeSection .carousel .carousel-inner .carousel-item .contentfix h1:nth-child(2){
    font-family: var(--ft-family-ptSans);
    color: var(--clr-grey);
    font-size: 4rem;
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.homeSection .carousel .carousel-inner .carousel-item .contentfix h1:nth-child(2) span{
    font-weight: 700;
}
.homeSection .carousel .carousel-inner .carousel-item .contentfix button{
    border: 1px solid var(--clr-grey);
    background-color: transparent;
    color: var(--clr-grey);
    padding: .5em 1.8em;
    font-weight: 600;
    letter-spacing: 4px;
    margin-top: 1.2em;
}
.homeSection .carousel .carousel-inner .carousel-item .contentfix button:hover{
    background-color: #cacaca;
    color: var(--clr-black);
    /* border-color:  var(--clr-black); */
    transition: all 0.2s;
}
.homeSection .carousel .carousel-inner .carousel-item img{
    height: 650px;
}
.carousel-fade .carousel-item{
    opacity: 0;
    transition: opacity .6s;
}
.homeSection .carousel .carousel-indicators li{
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

.overlay{
    background-color: var(--clr-black);
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: 1;
    opacity: .6;
}





  /* About Section ----------------------------------------------------------------*/
.aboutUsSection{
    width: var(--section-width);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.aboutUsSection .aboutUsSectionWrapper{
    /* border: 1px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    z-index: 10;
}
.aboutUsSection .aboutUsSectionWrapper .aboutUsSectionHeading{
    text-align: center;
    margin-bottom: 1.4em;
}
.aboutUsSection .aboutUsSectionWrapper .aboutUsSectionHeading h1{
    font-family: var(--ft-family-dScript);
    color: var(--clr-red);
    margin: 0;
    font-size: 4.1rem;
}
.aboutUsSection .aboutUsSectionWrapper .aboutUsSectionHeading img{
    width: 68%;
    padding:0;
}
.aboutUsSection .aboutUsSectionWrapper .aboutUsSectionContent{
    display: flex;
    justify-content: space-between;
}
.aboutUsSection .aboutUsSectionWrapper h1{
    margin-bottom: 1em;
}
.aboutUsSection .aboutUsSectionWrapper .aboutUsSectionContent p:nth-child(1){
    width: 49%;
}
.aboutUsSection .aboutUsSectionWrapper .aboutUsSectionContent p:nth-child(2){
    width: 49%;
}
.aboutUsSection .imagesec{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.aboutUsSection .imagesec img:nth-child(1){
    object-fit: cover;
    object-position: 10% 10%;
}
.aboutUsSection .imagesec img:nth-child(2){
    /* border: 1px solid red; */
    position: absolute;
    bottom:5.8em;
    z-index: 5;
}




/* offer Section ------------------------------------------------------------------*/
.offerSection{
    position: relative;
    z-index: -1;
}
.offerSection .contentHeading{
    width: 100%;
    /* border: 1px solid violet; */
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.2em 0;
}
.offerSection .contentHeading h1{
    font-family: var(--ft-family-dScript);
    color: var(--clr-red);
    margin: 0;
    font-size: 3.8rem;
}
.offerSection .contentHeading img{
    width: 14%;
    padding: 0;
}
.offerSection .carousel .carousel-inner .carousel-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent{
    width: 80%;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff img{
    width: 66%;
    height: 400px;
    z-index: 10;
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff .carouselContentOffer{
    width:38%;
    height: 60%;
    background: var(--clr-white);
    padding: 1em 1em;
    position: absolute;
    right: 0;
    z-index: 14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff .carouselContentOffer h2{
    font-family: var(--ft-family-ptSans);
    font-weight: 600;
    font-size: 1.65rem;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff .carouselContentOffer p{
    color: #636363;
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff .carouselContentOffer button{
    border: 1px solid var(--clr-red);
    background-color: transparent;
    text-transform: uppercase;
    color: var(--clr-red);
    font-weight: 600;
    padding: .5em 1.4em;
    align-self: flex-start;
}
.offerSection .carousel .carousel-inner .carousel-item .carouselContent .carouselContentimageandOff .carouselContentOffer button:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
}
.offerSection .carousel .carousel-inner .carousel-item img{
    height: 700px;
}
.carousel-fade .carousel-item{
    opacity: 0;
    transition: opacity .6s;
}
.offerSection .carousel .carousel-indicators li{
    height: 13px;
    width: 13px;
    border-radius: 50%;
}




/* Menu Section ---------------------------------------------------------------------*/
.menuSection{
    width: var(--section-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuSection .menuSectionWrapper{
    width: 75%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menuSection .menuSectionWrapper .menuSectionHeading{
    text-align: center;
    margin: 3em 0 2em;
}
.menuSection .menuSectionWrapper .menuSectionHeading h1{
    font-family: var(--ft-family-dScript);
    color: var(--clr-red);
    margin: 0;
    font-size: 4.1rem;
}
.menuSection .menuSectionWrapper .menuSectionHeading img{
    width: 60%;
    padding: 0;
}
.menuSection .menuSectionWrapper .menuSectionBtn{
    margin-bottom: 1em;
}
.menuSection .menuSectionWrapper .menuSectionBtn button{
    border: 1px solid var(--clr-black);
    background-color: transparent;
    font-family: var(--ft-family-lato);
    font-size: .7rem;
    font-weight: 700;
    padding: .4em 1em;
}
.menuSection .menuSectionWrapper .menuSectionBtn button:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
    transition: all 0.2s ease-in;
}
/* Menu List styling */
.menuSection .menuSectionWrapper .menuContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.menuContainer .menuItem{
    /* border: 1px solid red; */
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.8em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--clr-grey);
}
.menuContainer .menuItem .menuImage img{
    width: 85%;
    border-radius: 50%;
    border: 8px solid var(--clr-grey);
}
.menuContainer .menuContent{
    width: 72%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}
.menuContainer .menuContent .menuContentHeading{
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
}
.menuContainer .menuContent .menuContentHeading h4{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--ft-family-ptSans);
}
.menuContainer .menuContent .menuContentHeading h4:nth-child(2){
    color: var(--clr-red);
}
.menuContainer .menuContent .menuContentList{
    width: 78%;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
}
.menuContainer .menuContent .menuContentList ul li{
    font-size: .9rem;
    list-style: inside;
    list-style-type:'- ';
}


/* Table booking Section ------------------------------------------------------------*/
.tablebookingSection{
    width: var(--section-width);
    height: 350px;
    background-image: url("../images/blog-1.jpg");
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:var(--ft-family-ptSans);
}
.tablebookingSection .tablebookingWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 1;
}
.tablebookingSection .tablebookingWrapper h1{
    color: var(--clr-white);
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: 2px;
    letter-spacing: 3px;
    margin-bottom: .7em;
}
.tablebookingSection .tablebookingWrapper button{
    align-self: center;
    text-transform: uppercase;
    padding: .6em 3.5em;
    word-spacing: 2px;
    letter-spacing: 3px;
    font-size: .8rem;
    font-weight: 500;
    border: 0;
    color: var(--clr-red);
}
.tablebookingSection .tablebookingWrapper button:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
    transition: all 0.2s ease-in;
}





 /* Team Section ---------------------------------------------------------------------*/
.teamSection{
    width: var(--section-width);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamSection .teamSectionWrapper{
    width: 75%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teamSection .teamSectionWrapper .teamSectionHeading{
    text-align:center;
}
.teamSection .teamSectionWrapper .teamSectionHeading h1{
    font-family: var(--ft-family-dScript);
    color: var(--clr-red);
    margin:1.2em 0 0;
    font-size: 4.1rem;
}
.teamSection .teamSectionWrapper .teamSectionHeading img{
    width: 60%;
    padding: 0;
}
.teamSection .teamSectionWrapper .teamSectionContent{
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}
.teamSection .teamSectionWrapper .teamSectionContent .team{
    text-align: center;
}

.teamSection .teamSectionWrapper .teamSectionContent .team h6{
    font-weight: 600;
    font-family: var(--ft-family-ptSans);
    font-size: 1.2rem;
    opacity: .8;
    margin-top: 1em;
}
.teamSection .teamSectionWrapper .teamSectionContent .team p{
    font-family: var(--ft-family-lato);
    font-size: .95rem;
    opacity: .8;
}
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImage{
    /* border: 1px solid red; */
    width: 98%;
    position: relative;
}
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImage img{
    width: 100%;
}
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImageOverlay{
    background: var(--clr-black);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImageOverlay:hover{
    opacity: .5;
}
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImage .teamImageOverlay .teamContactList{
    border: 1px border red;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-right: 1em;
}
/* .teamSection .teamSectionWrapper .teamSectionContent .team .teamImage .teamImageOverlay .teamContactList{
    
} */
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImage .teamImageOverlay .teamContactList li a{
    color: var(--clr-white);
    transform: translateX(20px);
    transition: transform 0.3s;
}
.teamSection .teamSectionWrapper .teamSectionContent .team .teamImage .teamImageOverlay .teamContactList li a:hover{
    color: var(--clr-red);
    transform: translateX(0);
    z-index: 100;
}



/* blog Section ---------------------------------------------------------------------*/
.blogSection{
    width: var(--section-width);
    height: 600px;
    background-image: url("../images/promo_slide_3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogSection .blogSectionWrapper{
    width: 85%;
}

.blogSection .blogSectionWrapper .carousel .carousel-inner .carousel-item .cards-wrapper .carouselBox{
    background-color: var(--clr-white);
    width: 90%;
    margin: 0 1em;
}
.blogSection .blogSectionWrapper .carousel .carousel-inner .carousel-item .cards-wrapper{
    display: flex;
    justify-content: center;
}
.blogSection .blogSectionWrapper .carousel .carousel-inner .carousel-item .cards-wrapper .carouselBox .carouselBoxContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
}
.blogSection .blogSectionWrapper .carousel .carousel-inner .carousel-item .cards-wrapper .carouselBox .carouselBoxContent h3{
    font-family: var(--ft-family-ptSans);
    font-size: 1.6rem;
}
.blogSection .blogSectionWrapper .carousel .carousel-inner .carousel-item .cards-wrapper .carouselBox .carouselBoxContent hr{
    background-color: var(--clr-red);
    color: var(--clr-red);
    width: 25%;
    margin: 1.2em 0 2em;
}
.blogSection .blogSectionWrapper .carousel .carousel-inner .carousel-item .cards-wrapper .carouselBox .carouselBoxContent p{
    font-family: var(--ft-family-lato);
    text-align: center;
    color: #636363;
    font-weight: 500;
}
.blogSection .blogSectionWrapper .carousel .carousel-control-prev .carousel-control-prev-icon{
    position: absolute;
    left: 16px;
    background-color: var(--clr-red);
    width: 42px;
    height: 28px;
}
.blogSection .blogSectionWrapper .carousel .carousel-control-next .carousel-control-next-icon{
    position: absolute;
    right: 16px;
    background-color: var(--clr-red);
    width: 42px;
    height: 28px;
}



/* Gallery Section --------------------------------------------------------------------*/
.gallerySection{
    width: var(--section-width);
    height: 300px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.gallerySection .gallerySectionWrapper{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.gallerySection .gallerySectionWrapper .gallerySectionHeading{
    text-align: center;
}
.gallerySection .gallerySectionWrapper .gallerySectionHeading h1{
    font-family: var(--ft-family-dScript);
    color: var(--clr-red);
    margin:1.2em 0 0;
    font-size: 4.1rem;
}
.gallerySection .gallerySectionWrapper .gallerySectionHeading img{
    width: 60%;
    padding: 0;
}






/* Contact Section */
.contactSection{
    width:var(--section-width);
    height: 450px;
    background-image: url("../images/Footer\ background.png");
    background-size: cover;
    background-repeat:no-repeat;
    /* background-position-y: -1em; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactSection .contactSectionWrapper{
    width: 75%;
    height: 100%;
    /* border:1px solid yellow; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ft-family-lato);
    color: var(--clr-white);
}
.contactSection .contactSectionWrapper .contactFooterTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.contactSection .contactSectionWrapper .contactFooterTop img{
    width: 30%;
    margin-bottom: 2.5em;
}
.contactSection .contactSectionWrapper .contactFooterTop p{
    font-size: .75rem;
    word-spacing: 3px;
    margin-bottom: .4em;
}
.contactSection .contactSectionWrapper .contactFooterTop p:nth-last-child(-n+2){
    color: var(--clr-red);
}
.contactSection .contactSectionWrapper .contactSectionList1{
    width: 60%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}
.contactSection .contactSectionWrapper .contactSectionList1 li a i{
    color: var(--clr-white);
}
.contactSection .contactSectionWrapper .contactFooterBottom{
    /* border:1px solid pink; */
    width: var(--section-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .78rem;
}
.contactSection .contactSectionWrapper .contactFooterBottom .contactSectionList2{
    width: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactSection .contactSectionWrapper .contactFooterBottom .contactSectionList2 li a{
    color: var(--clr-red);
    /* font-size: .8rem; */
}
.contactSection .contactSectionWrapper .contactFooterBottom p span{
    color: var(--clr-red);
}



/* floating Button */
.floatingBtn{
    border: 1px solid yellow;
    width: 100%;
    /* position: absolute; */
    /* position: fixed; */
    position: fixed;
    text-align: right;
    z-index: 10;
}
.floatingBtn a{
    border: 1px coral;
    background-color: var(--clr-red);
    color: var(--clr-white);
    font-size: 2.3rem;
    padding: .2em .5em;
    margin-right: .8em;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
